@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: #001a33;
  color: white;
  overflow-x: hidden;
}

/* FUNDO */
.bg-animated {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle at center, #003366, #001a33);
  z-index: -1;
}
